:root{
  --color-primario: #1B1B1B;
  --color-secundario: #cc354e;
  --color-fondo: #b3a2ca;
  --color-texto: #1d1d1d;
  --color-claro: #FFFFFF;
  --color-reserva-vip: #D6C1E8;

  --fuente-titulo: 'Playfair Display', serif;
  --fuente-cuerpo: 'Lato', sans-serif;
}

/* RESET */
*{
    margin:0;
    padding:0;
    box-sizing:border-box;
}

/* BODY */
body{
    font-family: var(--fuente-cuerpo);

    background: linear-gradient(
        180deg,
        #c1a4d8 0%,
        #d1b8e6 40%,
        #ffffff 100%
    );

    color: var(--color-texto);
}

/* TITULOS */
h1{
    font-family: var(--fuente-titulo);

    background: linear-gradient(
        90deg,
        #41015c,
        #ac1593,
        #9e0000
    );

    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;

    font-size: 4rem;
}


.titulo-menu{
    display: flex;
    align-items: center;
    gap: 15px;
    margin-bottom: 20px;
}

.logo-menu{
    width: 50px;
    height: 50px;

    transition: .3s;

    filter: drop-shadow(0 0 8px rgba(0, 78, 0, 0.705));
}

.logo-menu:hover{
    transform: rotate(20deg) scale(1.1);
}

h2{
    color: var(--color-primario);
    margin-bottom:20px;
}

/* TARJETAS DEL MENU */
.card-plato{
    background: var(--color-claro);
    padding:20px;
    border-radius:15px;
    margin-bottom:20px;
    box-shadow:0 4px 10px rgba(0,0,0,.15);
    border-left:6px solid var(--color-secundario);

    transition: .3s;
}

.card-plato:hover{
    transform: translateY(-5px);
}

.eslogan{
    text-align: center;
    color: #b60000;
    font-size: 1.8rem;
    font-style: italic;
    margin-bottom: 40px;
}

/* BOTONES */
button{
    margin-right:10px !important;
}

/* FORMULARIO */
form{
    background:white;
    padding:25px;
    border-radius:15px;
    box-shadow:0 4px 10px rgba(0,0,0,.15);
}

/* ERRORES */
.error-campo{
    color:red;
    font-size:14px;
    margin-top:5px;
}

/* TABLA */
table{
    margin-top:30px;
}

.fila-reserva{
    background:white;
}

/* RESERVAS VIP */
.vip{
    background-color: var(--color-reserva-vip);
    font-weight:bold;
}

/* RESUMEN */
.resumen-reservas{
    background:white;
    margin-top:30px;
    padding:20px;
    border-radius:15px;
    box-shadow:0 4px 10px rgba(0,0,0,.15);
}

/* RESPONSIVE */
@media(max-width:768px){

    h1{
        font-size:2rem;
    }

    button{
        margin-bottom:10px !important;
    }

}
