APP_PORT=8080
MYSQL_PORT=3306
MYSQL_DATABASE=parkeate
MYSQL_USER=parkeate_user
MYSQL_PASSWORD=parkeate123
MYSQL_ROOT_PASSWORD=parkeate_root_local
DB_HOST=db
DB_PORT=3306
DB_DATABASE=parkeate
DB_USERNAME=parkeate_user
DB_PASSWORD=parkeate123
